---
import Head from "../Layout/Head.astro"
import Header from "../Components/Header.astro"
import Footer from "../Components/Footer.astro"

export async function getStaticPaths() {
    const blogs = import.meta.env.PUBLIC_BLOG;
    const response = await fetch(blogs);
    const articles = await response.json();
    const routes = []
    

  articles.map(blog => (
    routes.push({
      params: { title: blog.title },
      props: { blog },
    }
    )
  ))
  return routes;
  }

const {title} = Astro.params;
const {blog} = Astro.props;
const { text = blog.body.replace(/(<([^>]+)>)/gi, "") } = Astro.props

---

<Head title = {title} meta ={text} img="https://conceptians.org/img/blog.png"></Head>



<body>
    <Header></Header>
    <div class="pop-up d-flex flex-column">
      <div class="lang justify-content-center align-items-center" id="eng-btn"><img src="img/english.png" alt=""></div>
      <div class="lang justify-content-center align-items-center" id="mm-btn"><img src="img/myanmar.png" alt=""></div>
      <div class="lang-btn d-flex justify-content-center align-items-center" id="lang-btn"><img src="img/language.png" alt=""></div>
    </div>
    <main>
      <div class="main-section container-sm mt-5 d-flex flex-column">
    <h1>{blog.title}</h1>
    <span class="mt-3 mb-3"></span>
    <div class="d-flex mb-5 mt-4" style=" font-family: 'Mulish'; font-style: normal;">
    <img src={blog.photo} alt="" class="border border-white rounded-circle">
    <div class="d-flex flex-column" style="margin-left: 2rem;">
    <p style="font-weight: 400;font-size: 24px;">{blog.author}</p>
    <div class="d-flex flex-column mt-2">
      <p class=" mb-1">{blog.published}</p>
      <p class=" mb-0">{blog.read}</p></div>
    </div>
  </div>
    <div class="english-text" id="english-text">{blog.body}</div>
    <div set:html={blog.translate} class="myanmar-text" id="myanmar-text"></div>
  </div>
  <Footer></Footer>
    </main>
    
</body>
    
<style>

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

html{
	margin: 0;
	padding: 0;
  
}

body{
  margin: 0;
	width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

main{
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

main::-webkit-scrollbar {
width: 7px;
height: 3px;
}

main::-webkit-scrollbar-thumb {
background: gray;  
border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
background: #000;  
}


.main-section h1{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

.main-section span{
  width: 69px;
  height: 0px;
  border: 2px solid #5A4FF3;
}

.main-section img{
  max-width: 120px;
  height: auto;
}

.pop-up{
  position: fixed;
  width: 50px;
  background-color: lightgray;
  bottom: 0%;
  right: 5%;
  z-index: 10;
  border-radius: 25px;
  gap: 1rem;
  justify-content: flex-end;
}

.pop-up img{
  max-width:70%;
  max-height:70%;
}

.show{
  display: flex !important; 
}

.hide{
  display: none !important;
}

.unhide{
  display: block !important;
}

.lang{
  cursor: pointer;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.lang-btn{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.english-text{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.myanmar-text{
  display: none;
}

@media (max-width: 375px) {
  .main-section img{
    max-width: 80px;
    height: 80px;
}
}

</style>

<script is:inline>

const language_button = document.getElementById('lang-btn');
const mm_button = document.getElementById('mm-btn');
const eng_button = document.getElementById('eng-btn');
const mm_text = document.getElementById('myanmar-text');
const eng_text = document.getElementById('english-text');

language_button.addEventListener("click", function(){
  mm_button.classList.toggle("show")
  eng_button.classList.toggle("show")
})

mm_button.addEventListener("click", function(){
  mm_text.classList.add("unhide")
  eng_text.classList.add("hide")
})

eng_button.addEventListener("click", function(){
  mm_text.classList.remove("unhide")
  eng_text.classList.remove("hide")
})

</script>