---
const {title} = Astro.props;
const {meta} = Astro.props;
const {img} = Astro.props;
---


<head>
    <!-- Page Setup -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <!--Seo Google-->
    <meta name="title" content="Conceptians">
    <meta name="description" content={meta}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.conceptians.org/">
    <meta property="og:title" content="Conceptians">
    <meta property="og:description" content={meta}>
    <meta property="og:image" content={img}>

    <!-- Discord -->
    <meta name="theme-color" content="#C2F1D9">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.conceptians.org">
    <meta property="twitter:title" content="Conceptians">
    <meta property="twitter:description" content={meta}>
    <meta property="twitter:image" content={img}>


    <!--Modules -->

    <!--Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Mulish:wght@200;300;400&family=Noto+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
